/*=========================
- Project: Jobbest
- Authore: Rafi kadir
- Date: 08/01/2021
- PSD to HTML convertion
==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Font CSS */
/* Color CSS */
/* Common CSS */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #9aa5ba;
}

p {
  color: #9aa5ba;
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

h1, h2, h3, h4, h5, h6 {
  color: #112d58;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.section-title {
  margin-bottom: 60px;
  max-width: 500px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

/* Navbar CSS */
.main-nav {
  padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 15px;
}

.navbar .nav-btn a {
  background: #214884;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-left: 20px;
}

.navbar .nav-btn a:hover {
  background-color: #112d58;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background-color: #1b417b;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100% !important;
  height: auto;
  padding: 10px 0;
  -webkit-box-shadow: 0 10px 22px 0 #8d8df3ab;
          box-shadow: 0 10px 22px 0 #8d8df3ab;
}

/* Banner CSS */
.banner-section {
  background-image: url(../img/Banner.png);
  background-position: right;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
}

.banner-section .banner-text {
  max-width: 645px;
}

.banner-section .banner-text h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner-section .banner-text p {
  margin-bottom: 40px;
}

.banner-section .banner-text .search {
  position: relative;
}

.banner-section .banner-text .search .form-control {
  border: 0;
  -webkit-box-shadow: 0 11px 92.12px 5.88px rgba(52, 52, 52, 0.15);
          box-shadow: 0 11px 92.12px 5.88px rgba(52, 52, 52, 0.15);
  padding: 15px 15px 15px 25px;
  border-radius: 35px;
}

.banner-section .banner-text .search .form-control:focus {
  -webkit-box-shadow: 0 11px 92.12px 5.88px rgba(52, 52, 52, 0.15);
          box-shadow: 0 11px 92.12px 5.88px rgba(52, 52, 52, 0.15);
  border: 0;
}

.banner-section .banner-text .search .search-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  background: #ffa024;
  border: 0;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 40px;
  font-size: 20px;
}

/* Passion & Million CSS */
.passion-section img, .million-section img {
  margin-bottom: 30px;
}

.passion-section .passion-text, .million-section .passion-text {
  max-width: 450px;
}

.passion-section .passion-text h2, .million-section .passion-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.passion-section .passion-text p, .million-section .passion-text p {
  margin-bottom: 0;
}

.million-text {
  max-width: 550px;
}

.million-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.million-text p {
  margin-bottom: 0;
}

/* Category CSS */
.category-sec .section-title {
  margin: 0 auto 40px;
  text-align: center;
}

.category-box {
  text-align: center;
  -webkit-box-shadow: 0 7px 20px 0px #218ada29;
          box-shadow: 0 7px 20px 0px #218ada29;
  padding: 60px 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.category-box img {
  max-width: 100px;
  margin-bottom: 30px;
  height: 100px;
}

.category-box h4 {
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
}

.category-box p {
  margin-bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.category-box::before {
  position: absolute;
  content: '';
  background: #569afa;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.category-box:hover::before {
  height: 100%;
}

.category-box:hover h4 {
  color: #fff;
}

.category-box:hover p {
  color: #fff;
}

.category-box.active {
  background: #569afa;
}

.category-box.active h4, .category-box.active p {
  color: #fff;
}

/* Company CSS*/
.company-text {
  max-width: 460px;
}

.company-text h2 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Join CSS */
.join-section {
  position: relative;
}

.join-section .sec-ptn {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.join-section .join-img {
  max-width: 650px;
  margin: 0 auto;
}

/* Testimonial CSS */
.feedback-box {
  -webkit-box-shadow: 0 7px 20px 0px #218ada29;
          box-shadow: 0 7px 20px 0px #218ada29;
  padding: 45px;
  text-align: center;
  margin: 15px;
}

.feedback-box img {
  width: inherit;
  max-width: 100px;
  margin: 0 auto 15px;
}

.feedback-box .rating i {
  display: inline-block;
  color: #ff974d;
  font-size: 20px;
  margin-bottom: 10px;
}

.feedback-box p {
  margin-bottom: 0;
}

footer {
  background: #559ff9;
}

footer .footer-link h4 {
  color: #ffffff;
  margin-bottom: 20px;
}

footer .footer-link ul {
  padding-left: 0;
  list-style-type: none;
}

footer .footer-link ul li {
  margin-bottom: 10px;
}

footer .footer-link ul li a {
  color: #ffffff;
  font-size: 14px;
}

footer .footer-link ul li a:hover {
  letter-spacing: .5px;
}

.copyright {
  padding: 30px 0;
  background: #1160bf;
}

.copyright p {
  margin-bottom: 0;
  color: #ffffff;
}

.copyright p span {
  font-weight: 600;
  color: #f55767;
}

/* Back Top */
.back-top {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  right: 20px;
  color: #ffffff;
  background-color: #fa6d59;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 22px;
  -webkit-transition: .9s;
  transition: .9s;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  line-height: 45px;
}

.back-top.active {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
/*# sourceMappingURL=style.css.map */