/*=========================
- Project: Jobbest
- Authore: Rafi kadir
- Date: 08/01/2021
- PSD to HTML convertion
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Font CSS */
$font-family:'Poppins', sans-serif;

/* Color CSS */
$body-color: #9aa5ba;
$heading-color: #112d58;
$btn-bg:#1b417b;
$white-color: #ffffff;
$red-color: #f55767;

/* Common CSS */
body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    color: $body-color;
}

p {
    color:$body-color;
    font-size: 16px;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.section-title {
    margin-bottom: 60px;
    max-width: 500px;

    h2 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
    }
}
img {
    max-width: 100%;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
/* Navbar CSS */
.navbar {
    .navbar-nav .nav-link {
        color: $white-color;
        margin: 0 15px;
    } 

    .nav-btn {
        a {
            background: $btn-bg;
            color: $white-color;
            padding: 10px 30px;
            border-radius: 20px;
            transition: .5s;
            margin-left: 20px;

            &:hover {
                background-color: $heading-color ;
            }
        }
    }
}
/* Banner CSS */
.banner-section {
    background-image: url(../img/Banner.png);
    background-position: right;
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;

    .banner-text {
        max-width: 645px;

        h1 {
            font-size: 65px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 40px;
        }

        .search {
            position: relative;

            .form-control {
                border: 0;
                box-shadow: 0 11px 92.12px 5.88px rgba(52,52,52,.15);
                padding: 15px 15px 15px 25px;
                border-radius: 35px;

                &:focus {
                    box-shadow: 0 11px 92.12px 5.88px rgba(52,52,52,.15);
                    border: 0;
                }
            }
            .search-btn {
                position: absolute;
                right: 10px;
                top: 5px;
                background: #ffa024;
                border: 0;
                color: #fff;
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 40px;
                font-size: 20px;
            }
        }
    }
}

/* Passion & Million CSS */
.passion-section , .million-section{
    img {
        margin-bottom: 30px;
    }

    .passion-text {
        max-width: 450px;
    
        h2 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

